<h1>Log in (Sessions#new)</h1>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<%= form_for(:session, url: login_path) do |f| %>

	<%= f.label :username, "Username:" %><br/>
	<%= f.text_field :username %><br/><br/>

	<%= f.label :password, "Password:" %><br/>
	<%= f.password_field :password %><br/><br/>

	<%= f.submit 'Log in' %>
<% end %>

<p>New user? <%= link_to "Sign up!", signup_path %></p>
