<h1>Edit Info <span class="route">[Users - Edit Form]</span></h1>

<% if flash[:notice] %>
  <p class='notice'><%= flash[:notice] %></p>
<% end %>

<%= form_for @user do |f| %>
	<%= f.label :email, "Email:" %><br/>
	<%= f.email_field :email %><br/><br/>

	<%= f.label :username, "Username:" %><br/>
	<%= f.text_field :username %><br/><br/>

	<%= f.label :password, "Password:" %><br/>
	<%= f.password_field :password %><br/><br/>

	<%= f.submit 'Update Account Information' %>
<% end %>
<%= button_to 'Back', user_path(@user), method: :get %>
